.schedule {
    width:100%;
    height:790px;
    border-radius:24px;
    border:1px solid var(--c14);
    background:var(--c1);
    padding:16px 0px;
    display:flex;
    overflow:hidden;
}

.schedule__col1 {
    border-right:1px solid var(--c14);
    display:flex;
    flex:0 1 272px;
    height:100%;
    flex-direction:column;
    justify-content:space-between;
    padding:0px 8px;

}
.schedule__col2 {
    flex: 1 1 auto;
    height:100%;
    display:flex;
    flex-direction:column;
    gap:16px;
}
.schedule__col2__chapter {
    display:flex;
    flex-wrap:wrap;
}
.point {
    display:flex;
    align-items:center;
    gap:4px;
    padding:4px 8px

}
.point::before {
    content:'';
    display:flex;
    width:8px;
    height:8px;
    border-radius:50%;
}
.point_grey::before {
    background:var(--c15);
}
.point_yellow::before {
    background:var(--c16);
}
.point_green::before {
    background:var(--c17);
}
.point_red::before {
    background:var(--c18);
}

.month {
}
.weeks {

}
.date {
    display:none;
}
.active {
    display:block;
}
.date__week {

}
.day {
}
.date__active {
    border-radius:4px;
    background:var(--c10);
    color:var(--c1);
}

.schedule__angle_l {
    width:10px;
    height:10px;
    border-right:2px solid var(--c6);
    border-bottom:2px solid var(--c6);
    transform:rotate(135deg);
}
.schedule__angle_r {
    width:10px;
    height:10px;
    border-right:2px solid var(--c6);
    border-bottom:2px solid var(--c6);
    transform:rotate(-45deg);
}

.filter_schedule[type="text"]  {
    background-image:
        url('data:image/svg+xml;utf8,'), /* Первая картинка */
        url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="var(--c6)"><path d="M10 13.66L16.36 7.3a1 1 0 0 1 1.4 1.42l-7.07 7.05a1 1 0 0 1-1.4 0L2.22 8.72a1 1 0 1 1 1.42-1.42L10 13.66z"/></svg>'); /* Вторая картинка */
    background-position:
        8px center, /* Позиция первой картинки */
        calc(100% - 8px) center; /* Позиция второй картинки */
    background-size:
        16px, /* Размер первой картинки */
        16px; /* Размер второй картинки */
    background-repeat: no-repeat;
    padding-left:30px;
}

.filter_schedule[type="text"]:focus {
    background-image:
        url('data:image/svg+xml;utf8,'), /* Первая картинка */
        url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="var(--c6)"><path d="M10 6.34L3.64 12.7a1 1 0 0 1-1.4-1.42l7.07-7.05a1 1 0 0 1 1.4 0l7.07 7.05a1 1 0 0 1-1.4 1.42L10 6.34z"/></svg>'); /* Вторая картинка */
}


.hour {
    min-height:80px;
    width:100%;
    padding:4px;
    overflow:hidden;
    display:flex;
    flex-direction:column;
}
.timezone_col {
    font-size:12px;
    flex:0 0 48px;
    display:flex;
    flex-direction:column;
    justify-content:flex-end;
    min-height:80px;
    width:100%;
    padding:4px;
    overflow:hidden;
    display:flex;
    flex-direction:column;
}
.hour {
    display:flex;
    flex-direction:column;
    border:.5px solid var(--c14);
}

/* Сделать вертикальную полосу прокрутки всегда видимой */
.lessons {
    width: 100%;
    height: 600px;
    overflow-y: scroll;
    scrollbar-width: thin; /* Для Firefox */
    scrollbar-color: var(--c4) transparent; /* Для Firefox */
}

/* Для WebKit браузеров (Chrome, Safari и др.) */
.lessons::-webkit-scrollbar {
    width: 8px;
}

/* Для ползунка */
.lessons::-webkit-scrollbar-thumb {
    background-color: var(--c4);
    border-radius: 6px;
}

/* Для трека (бара) */
.lessons::-webkit-scrollbar-track {
    background-color: transparent;
}
.lessons__row {
    display:flex;
    justify-content:space-between;
    width:100%;
}


.lesson {
    display:flex;
    flex-direction:column;
    min-width:20px;
    overflow:hidden;
}

/* связано с showTwoLessons */
.lesson_count {
    width:100%;
    display:flex;
    justify-content:flex-end;
    align-items:center;
}
.lesson_count span {
    background:var(--c6);
    color:var(--c3);
    font-size:10px;
    height:16px;
    padding:0 8px;
    display:flex;
    align-items:center;
    justify-content:center;
    border-radius:8px;
}


/* бургер для календаря */
.burger_calendar * {
    transition: all 0.5s ease;
}
.burger_calendar {
    height:20px;
    width:30px;
    position:relative;
    display:none;
}
.burger__line_1,
.burger__line_2,
.burger__line_3 {
    width:100%;
    height:2px;
    background:var(--c6);
    position:absolute;
}
.burger__line_1 {
    top:0;
    left:0;
}
.burger__line_2 {
    top:50%;
    transform:translateY(-50%);
    left:0;
}
.burger__line_3 {
    bottom:0;
    left:0;
}

.burger_cross {
    display:flex;
    justify-content:space-between;
    flex-direction:column;
    align-items:flex-start;
}
.burger_cross .burger__line_1 {
    transform: rotate(45deg) translateY(-50%);
    transform-origin: top left;
}
.burger_cross .burger__line_2 {
    display:none;
}
.burger_cross .burger__line_3 {
    transform: rotate(-45deg) translateY(50%);
    transform-origin: bottom left;
}
.burger_cross:hover  {
    transform:scale(1.1);
    transition: all 0.5s ease;
}


.schedule__popup {
    display:none;
    width:100vw;
    height:100vh;
    position:fixed;
    top:0;
    left:0;
    z-index:9;
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    align-items:center;
    justify-content:center;
}
.schedule__popup__in {
    display:flex;
    width:496px;
    flex-direction:column;
    background:var(--c1);
    box-shadow: 0px 0px 24px 8px var(--c3);
    z-index:10;
    border-radius:8px;
    padding:32px;
    gap:24px;
}

.timezone {
    display:flex;
    flex:0 0 92px;
}

.empty:first-child {
    flex:0 0 48px;
}
.timezone {
    background-image:
    url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="var(--c6)"><path d="M10 13.66L16.36 7.3a1 1 0 0 1 1.4 1.42l-7.07 7.05a1 1 0 0 1-1.4 0L2.22 8.72a1 1 0 1 1 1.42-1.42L10 13.66z"/></svg>');
    background-position: calc(100% - 24px) center; /* Расположение стрелки */
    background-size: 12px; /* Размер стрелки */
    background-repeat: no-repeat;
}

.filter_schedule {
    background-image:
    url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="var(--c6)"><path d="M10 13.66L16.36 7.3a1 1 0 0 1 1.4 1.42l-7.07 7.05a1 1 0 0 1-1.4 0L2.22 8.72a1 1 0 1 1 1.42-1.42L10 13.66z"/></svg>');
    background-position: calc(100% - 24px) center; /* Расположение стрелки */
    background-size: 12px; /* Размер стрелки */
    background-repeat: no-repeat;
    border:.5px solid var(--c4);
    border-radius:4px;
    padding:14px 12px;
    max-width:300px;
}

.cross__in {
    height:30px;
    width:30px;
    border-radius:8px;
    background:var(--c3);
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    position:relative;
}
.cross__in_line {
    background:var(--c15);
    width:12px;
    height:1px;
    position:absolute;
}
.cross__in_line:first-child {
    transform:rotate(45deg);
}
.cross__in_line:last-child {
    transform:rotate(-45deg);
}


.lesson_info {
    padding-bottom:24px;
    border-bottom:1px solid var(--c14);
}
.lesson_info__in {
    display:flex;
    flex-direction:column;
    gap:8px;
    padding:12px;
    background:var(--c1);
    border-radius:8px;
}
.lesson_info__in:hover {
    background:var(--c7);
}

.scroll_lessons {
    width: 100%;
    height: 400px;
    overflow-y: scroll;
    scrollbar-width: thin; /* Для Firefox */
    scrollbar-color: var(--c4) transparent; /* Для Firefox */
}

/* Для WebKit браузеров (Chrome, Safari и др.) */
.scroll_lessons::-webkit-scrollbar {
    width: 8px;
}

/* Для ползунка */
.scroll_lessons::-webkit-scrollbar-thumb {
    background-color: var(--c4);
    border-radius: 6px;
}

@media (max-width:768px) {
    .schedule__col1 {
        display:none;
    }
    .burger_calendar {
        display:flex;
    }
    .schedule__col2 {
        .fs18 {
            font-size:12px;
        }
    }
    .lesson * {
        font-size:12px !important;
    }
    .day_of_week {
        font-size:14px;
        display:flex;
        flex-direction:column;
        align-items:center;
    }
}
@media (max-width:414px) {
    .timezone_col {
        writing-mode: vertical-rl;
        flex:0 0 22px;
        width:22px;
        transform:rotate(180deg);
    }

    .empty:first-child {
        flex:0 0 22px;
        width:22px;
    }
    .lesson * {
        font-size:8px !important;
    }
}



/* {
    border:1px solid green;
}
